//Variables
$num : 1;
$tam : 30px;
$tie : 20s;

//cadenas
$nombre : "Marco";
$valor : block;
$sexo : "hombre";

//colores
$rojo : blue;
$color_rgb : rgb(100,192,81);
$color_hex : #2f7060;

$borde : 10px dashed red;