doctype html
html
    head
        title Ejemplo Pug
        link(rel="stylesheet" href="estilos.css")
        //Esto es un comentario
    body
        h1 Esto es un encabezado
        div
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim, repudiandae, rem ut doloribus veritatis, quidem perspiciatis perferendis dolore quibusdam tempore hic ab autem rerum fuga omnis voluptatem voluptates neque quaerat.
            p.parrafo.
                Esto es un párrafo
                que tiene
                multilinea